* {
  margin: 0;
  font-family: "PT Sans", sans-serif;
}

.main {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .main__left {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

.main .main__left .searchContainer {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #050608;
}

.main .main__left .searchContainer input {
  color: white;
  padding-left: 10px;
  outline: none;
  height: 50%;
  width: 70%;
  border-radius: 10px;
  border: none;
  background-color: rgba(238, 238, 238, 0.13);
}

.main .main__left .searchResults {
  height: 90vh;
  background-color: #161a22;
  overflow-y: scroll;
  padding: 0 30px;
}

.main .main__left .searchResults::-webkit-scrollbar {
  background: white;
  width: 5px;
}

.main .main__left .searchResults::-webkit-scrollbar-thumb {
  background-color: #464646;
}

.main .main__left .searchResults .coinResults {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.123);
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  -webkit-animation: fade-in 1000ms ease-in-out;
          animation: fade-in 1000ms ease-in-out;
}

.main .main__left .searchResults .coinResults .coinResults__left {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

.main .main__left .searchResults .coinResults .coinResults__left .symbol {
  margin-left: 10px;
  opacity: 0.5;
}

.main .main__left .searchResults .coinResults .coinResults__left img {
  width: 20px;
  margin-right: 10px;
}

.main .main__left .searchResults .coinResults .coinResults__right {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 20px;
}

.main .main__left .searchResults .coinResults .coinResults__displayNone {
  display: none;
}

.main .main__right {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
}

.main .main__right .main__right-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10%;
  background-color: #050608;
}

.main .main__right .main__right-top .right-top-left {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
}

.main .main__right .main__right-top .right-top-left p {
  margin-left: 5px;
}

.main .main__right .main__right-top .right-top-left img {
  width: 50px;
}

.main .main__right .main__right-top .right-top-right {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main__right .main__right-top .right-top-right .icons {
  color: white;
}

.main .main__right .main__right-bottom {
  height: 90%;
  background-color: #161a22;
}

.main .main__right .main__right-bottom .cryptoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #050608;
  overflow-x: hidden;
}

.main .main__right .main__right-bottom .cryptoContainer .welcome {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-animation: fade-in 2000ms ease-in-out;
          animation: fade-in 2000ms ease-in-out;
}

.main .main__right .main__right-bottom .cryptoContainer .coinMore {
  -webkit-animation: fade-in-right 1000ms ease-in-out;
          animation: fade-in-right 1000ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  background-color: #161a22;
  width: 60%;
  height: 70%;
  border-radius: 25px;
}

.main .main__right .main__right-bottom .cryptoContainer .coinMore .coinMore__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main__right .main__right-bottom .cryptoContainer .coinMore .coinMore__header h1 {
  font-size: 80px;
  margin-left: 10px;
}

.main .main__right .main__right-bottom .cryptoContainer .coinMore .coinMore__header img {
  width: 100px;
}

.main .main__right .main__right-bottom .cryptoContainer .coinMore p {
  font-size: 20px;
  opacity: 0.7;
}

.hover {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.hover:hover {
  color: black !important;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  cursor: pointer;
  background-color: #add165 !important;
}

.green {
  color: green;
}

.red {
  color: red;
}

@-webkit-keyframes fade-in-right {
  from {
    opacity: 0;
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */