* {
  margin: 0;
  font-family: "PT Sans", sans-serif;
}

//colors

$primaryColor: #050608;
$secondaryColor: #161a22;

.main {
  height: 100vh;
  width: 100vw;
  display: flex;

  .main__left {
    flex: 0.3;

    .searchContainer {
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primaryColor;
      input {
        color: white;
        padding-left: 10px;
        outline: none;
        height: 50%;
        width: 70%;
        border-radius: 10px;
        border: none;
        background-color: rgba(238, 238, 238, 0.13);
      }
    }

    .searchResults {
      height: 90vh;
      background-color: $secondaryColor;
      overflow-y: scroll;
      padding: 0 30px;

      &::-webkit-scrollbar {
        background: rgb(255, 255, 255);
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgb(70, 70, 70);
      }

      .coinResults {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        background-color: rgba(255, 255, 255, 0.123);
        width: 100%;
        margin-top: 10px;
        border-radius: 10px;
        animation: fade-in 1000ms ease-in-out;

        .coinResults__left {
          flex: 0.5;
          display: flex;
          align-items: center;
          padding-left: 20px;
          .symbol {
            margin-left: 10px;
            opacity: 0.5;
          }
          img {
            width: 20px;
            margin-right: 10px;
          }
        }
        .coinResults__right {
          flex: 0.5;
          display: flex;
          justify-content: flex-end;
          padding-right: 20px;
        }

        .coinResults__displayNone {
          display: none;
        }
      }
    }
  }
  .main__right {
    flex: 0.7;

    .main__right-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 10%;
      background-color: $primaryColor;
      .right-top-left {
        color: white;
        display: flex;
        align-items: center;
        font-weight: bold;
        flex: 0.8;
        p {
          margin-left: 5px;
        }
        img {
          width: 50px;
        }
      }
      .right-top-right {
        flex: 0.2;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .icons {
          color: white;
        }
      }
    }
    .main__right-bottom {
      height: 90%;
      background-color: $secondaryColor;

      .cryptoContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-color: $primaryColor;
        overflow-x: hidden;

        .welcome {
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          width: 100%;
          animation: fade-in 2000ms ease-in-out;
        }
        .coinMore {
          animation: fade-in-right 1000ms ease-in-out;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          color: white;
          background-color: $secondaryColor;
          width: 60%;
          height: 70%;
          border-radius: 25px;

          .coinMore__header {
            display: flex;
            justify-content: center;
            align-items: center;
            h1 {
              font-size: 80px;
              margin-left: 10px;
            }
            img {
              width: 100px;
            }
          }

          p {
            font-size: 20px;
            opacity: 0.7;
          }
        }
      }
    }
  }
}

// js

.hover {
  transition: 300ms;
  &:hover {
    color: black !important;
    transform: translateX(20px);
    cursor: pointer;
    background-color: rgb(173, 209, 101) !important;
  }
}

.green {
  color: green;
}

.red {
  color: red;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(400px);
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
